#certifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 2vw;
    height: 450vh;
    width: 100%;
    background-color: #141414;
    color: white;
    font-family: garamond, serif;
    font-size: clamp(2.5rem, 3vh ,5rem);
}

.cert {
    width: 30vw;
    height: 25vw;
    margin: 4vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
    border: 0.5vw solid #683f34
}

.cert:hover {
    transform: scale(1.1);
}

#certifications > h3 {
    font-size: 3vw;
    background-color: #333;
    border: 2px solid rgb(110, 113, 116); 
    border-radius: 10px;
    width: 50%;
    height: clamp(1%, 2%, 3%);
    display: flex;
    justify-content: center;
    align-items: center;

}

#front-end, #back-end, #general {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

#python {
    background-image: url('../../assets/images/certifications/YH_Python_Nov1.png');
}

#html-css {
    background-image: url('../../assets/images/certifications/YH_HTML&CSS_Dec16.png');
}

#javascript {
    background-image: url('../../assets/images/certifications/YH_JS_Jan23.png');
}

#java {
    background-image: url('../../assets/images/certifications/YH_Java_Feb24.png');
}

#databases {
    background-image: url('../../assets/images/certifications/YH_Databases_Mar5.png');
}

#softwaredev {
    background-image: url('../../assets/images/certifications/YH_Software-Development_Mar31.png');
}

#computationalthinking {
    background-image: url('../../assets/images/certifications/YH_Computational-Thinking_Apr1.png');
}

#csharp {
    background-image: url('../../assets/images/certifications/YH_C-Sharp_Apr15.jpg');
}

#fccbackend {
    background-image: url('../../assets/images/certifications/YH_Back-End-Dev_Apr22.jpg');
}

