* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
    text-align: center;
    width: 100%;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #272727;
    border: 0.2vh solid #000000;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5vh 0;
    z-index: 9;
}

.navbar {
    flex: 1;
    margin: 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    width: 20vw; 
    height: 100%;
    border: 1px solid #5e5e5e;
    border-radius: 2px;
    color: white;
    font-family: 'Times New Roman', serif;
    font-size: 2vh;
    text-align: center;
    padding: auto;
    text-decoration: none;
    z-index:10;
    transition: all 0.2s ease;
}

.navbar:hover {
    background-color: #3d3d3d;
}

#portfolio-picture {
    width: 100%;
    height: 80vh;
    background-color:#8f8f8f;
    margin-top: 7vh;
    margin-bottom: 0;
}

@media (max-height: 400px) {
    #portfolio-picture {
        height: 40vh;
    }
} 

.header {
    font-family: 'Times New Roman', serif;
    font-size: 5vw;
    color: black;
}

hr {
    border: 0.3vh solid #333;
    border-radius: 5px;
    width: 75vw;
}
