/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#About-Me {
  background-color:#24272b;
  height: 1000px;
}

#top {
  background-color: #ffffff;
  height:100px;
  width: 100%;
}

.header {
  height: '100vh';
} */

.col {
  background-color: aqua;
  width: 50;
  height: 50;
}